<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cpic.dao.ChexianMapper">
    <select id="selectChexian" resultType="Map">
        select * from chexian
        <where>
            <if test="cpnumber!=null and cpnumber!=''">
                and cpnumber=#{cpnumber}
            </if>
            <if test="cjnumber!=null and cjnumber!=''">
                and cjnumber=#{cjnumber}
            </if>
        </where>
        and cxidnumber=#{cxidnumber}
    </select>
</mapper>