<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cpic.dao.ScxzMapper">
    <insert id="insertScxz" parameterType="Scxz" keyProperty="filePath,path,sxid" keyColumn="sxid">
        insert into scxz values(default,#{filePath},#{path})
    </insert>


</mapper>